*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FORMULARIO */


section.formulario{
    padding: 80px 4%;
    color: #220edb;
    text-align: center;
}

section .button-contato{
    margin-top: 50px;
    width: 180px;
    height: 60px;
    font-size: 20px;
    background-color: #1d4dd1;
    color: aliceblue;
    border: none;
    border-radius: 10px;
}

form{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    border: #9c9c9c solid;
    border-radius: 20px;
}

form input, form textarea{
    width: 100%;
    background-color: none;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #1a1414;
    font-size: 18px;
    
}

form textarea{
    resize: none;
    max-height: 800px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 200px;
    border-radius: none;
    color: none;
    font-weight: 100;
    cursor: pointer;
    transition: .2s;
}