* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html{
  overflow-x: hidden;
}
/*Header*/
.nav-topo {
  display: flex;
  justify-content: space-between;
}

a {
  margin-left: 32px;
  color: #818181;
  font-size: 17px;
  cursor: pointer;
}

.navegacao {
  margin-top: 5px;
  padding-right: 80px;
 
}

.logo-dev {
  margin-top: 50px;
  margin-left: 20px;
}

.button-inicio {
  background-color: #0484fc;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 26px;
  color: white;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(20, 20, 218);
}

/* Section 1*/
.pai-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.section-1 {
  width: 33%;
  margin-top: 50px;
}

.parag-section1 {
  color: #0484fc;
  font-weight: bold;
  font-size: 20px;
}

.h1-section1 {
  color: #818181;
  font-size: 62px;
  margin-top: 10px;
  margin-bottom: 22px;

}

.parag2-section1 {
  color: #818181;
  font-size: 20px;
  margin-bottom: 28px;
}

.button-section1 {
  display: flex;

}

.button-div1 {
  margin-right: 25px;
  width: 222px;
  height: 60px;
  border-radius: 31px;
  border: none;
  color: white;
  background: #0484fc;
  font-size: 17px;
  cursor: pointer;
}

.button-div2 {
  width: 222px;
  height: 60px;
  border-radius: 31px;
  border: none;
  color: white;
  background: #0484fc;
  font-size: 17px;
  cursor: pointer;
}

/* style da section 2 */
.container-center {
  display: inline-block;
  margin-left: 250px;
  padding: 0;
}

h2#secao-2 {
  margin-left: 490px;
  font-size: 40px;
  font-weight: 10px;
  line-height: 40px;
  font-weight: bold;
  color: #848484;
  cursor: pointer;
}

section#secao-2 {
  display: inline-flex;
  margin-left: 193px;
}

.div-1,
.div-2,
.div-3,
.div-4 {
  width: 200px;
  height: 225px;
  cursor: pointer;
  margin: 20px 22px;
  border-radius: 20px;
  border: none;
  background: #f4f4f4;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: #848484;
  padding: 5px;
  box-shadow: 40px 50px 100px #dcdadc;
}

.boca-div {
  width: 80px;
  height: 55px;
  margin: 35px 20px;
  padding: 1px;
}

.sobrancelha-div {
  width: 80px;
  height: 55px;
  margin: 35px 20px;
}

.mulher-div {
  width: 80px;
  height: 70px;
  margin: 30px 20px;
}

.pontos-div {
  width: 65px;
  height: 20px;
  margin: 55px 0px;
}

span#first_letter {
  color: #0479FC;
}

.div-2 {
  color: white;
  background: #0484FC;
  ;
}

.div-2:hover {
  opacity: 80%;
}

#first_letter:hover {
  opacity: 80%;
  color: #0000ff;
}

/*SECTION 3*/
section.section-3 {
  padding: 80px 8%;
}

.section-3 {
  display: flex;
  margin: 20px;
  align-items: center;
}

.section-3 .div- {
  width: 500px;
  margin-top: 2%;
  margin-left: 50px;
}

.section-3 .div- p {
  color: #0484fc;
  font-size: 18px;
}

.section-3 .div- h3 {
  font-size: 60px;
  color: rgba(138, 137, 137, 0.89);
  margin-top: 10px;
}

.section-3 .div- li {
  font-size: 23px;
  margin-top: 20px;
  color: rgba(148, 146, 146, 0.973);
  list-style: none;
}

.section-3 .div- i {
  font-size: 15px;
  text-align: center;
  color: #0484fc;
  margin-right: 10px;
}

.section-3 .div- button {
  font-size: 18px;
  color: #ffff;
  background-color: #0484fc;
  border: none;
  width: 230px;
  height: 70px;
  border-radius: 40px;
  margin-top: 40px;
  cursor: pointer;
}

.section-3 img {
  border-radius: 10%;
  width: 600px;
  height: 700px;
}

/* style da section 4 */
.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.container-dos-elementos-da-section-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2.8rem;
}

.container p {
  color: #0484fc;
  font-size: 18px;
}

.container h2 {
  font-size: 60px;
  color: rgba(138, 137, 137, 0.89);
  margin-top: 10px;
}

ul li {
  font-size: 23px;
  margin-top: 20px;
  color: rgba(148, 146, 146, 0.973);
  list-style: none;
}

ul li i {
  font-size: 15px;
  text-align: center;
  color: #0484fc;
  margin-right: 10px;
}


button {
  text-align: center;
  font-size: 18px;
  color: #ffff;
  background-color: #0484fc;
  border: none;
  width: 230px;
  height: 70px;
  border-radius: 40px;
  margin-top: 40px;
  cursor: pointer;
}

span {
  color: #0484fc;
}

.img-da-section-4 img {
  border-radius: 10%;
  width: 600px;
  height: 700px;
}

/* FORMULARIO */

section.formulario {
  padding: 70px 4%;
  text-align: center;
}

.formulario h2 {
  color: rgba(94, 94, 94, 0.973);
  font-weight: 400;
  font-size: 40px;
}

.formulario span {
  font-size: 17px;
  color: #0484fc;
  font-weight: 400;
}

.formulario p {
  margin-top: 30px;
  color: rgba(94, 94, 94, 0.973);
  font-weight: 400;
  font-size: 14px;
}

section .button-contato {
  margin-top: 50px;
  width: 230px;
  height: 70px;
  font-size: 15px;
  background-color: #0484fc;
  color: aliceblue;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  background: #f8f6f6f8;
  border-radius: 20px;
}

form input,
form textarea {
  width: 100%;
  background-color: none;
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #1a1414;
  font-size: 18px;
}

form .input-1 {
  display: flex;
  margin-right: 55px;
  margin-left: 5px;
  margin-top: 0;
}

form textarea {
  resize: none;
  max-height: 800px;
  height: 300px;

}

form .form-1 {
  background-color: #b4b4b421;
  width: 660px;
  margin-left: 10%;
  margin-top: 50px;
}

form .btn-enviar {
  border: none;
  margin-left: 90px;
  margin-right: auto;
}

form .btn-enviar input {
  width: 230px;
  height: 70px;
  font-size: 15px;
  background-color: #0484fc;
  color: aliceblue;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-top: 0;
}

/*FOOTER*/

footer {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  gap: 80px;
  padding: 64px 80px;
}

.parte-04 {
  margin-left: 40px;
  color: #0484fc;
}

.final {
  background-color: #0484fc;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 16px;
}


/* Tablet styles */
@media screen and (max-width: 768px) {
  .pai-section {
    flex-direction: column;
    align-items: center;
  }

  .section-1 {
    width: 80%;
    margin-top: 50px;
  }

  /* Add more styles for tablet view */

  h2#secao-2 {
    font-size: 30px;
  }

  .div-1,
  .div-2,
  .div-3,
  .div-4 {
    width: 150px;
    height: 175px;
    margin: 15px;
  }

  .section-3 .container {
    flex-direction: column;
  }

  .section-3 .div- {
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
  }

  .section-3 .div- h3 {
    font-size: 40px;
  }

  .section-3 img {
    width: 100%;
    height: auto;
  }

  form .form-1 {
    width: 100%;
    margin-left: 0;
  }

  form .input-1 {
    margin-right: 0;
  }

  form .btn-enviar {
    margin-left: 0;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .pai-section {
    flex-direction: column;
    align-items: center;
  }

  .section-1 {
    width: 90%;
    margin-top: 30px;
  }

  .h1-section1 {
    font-size: 51px;
  }
  /* Add more styles for mobile view */

  h2#secao-2 {
    font-size: 24px;
    margin-left: -195px;
  }

  section#secao-2 {
    flex-direction: column;
    align-items: center;
    margin-left: -150px;
  }

  .div-1,
  .div-2,
  .div-3,
  .div-4 {
    width: 100%;
    margin: 20px 0;
  }

  .section-3 {
    flex-direction: column;
  }

  .section-3 .div- {
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
  }

  .section-3 .div- h3 {
    font-size: 32px;
  }

  .container h2 {
    font-size: 32px;
  }

  ul li {
    font-size: 25px;
  }

  .container-dos-elementos-da-section-4 {
    align-items: center;
  }

  .section-3 img {
    width: 100%;
    height: auto;
  }

  .container img {
    width: 100%;
    height: auto;
  }

  .container {
    flex-direction: column-reverse;
  }

  form .form-1 {
    width: 100%;
    margin-left: 0;
  }

  form .input-1 {
    margin-right: 0;
  }

  form .btn-enviar {
    margin-left: 0;
  }

  /* Adaptação do rodapé */
  footer {
    flex-direction: column;
    padding: 32px;
  }

  .parte-02,
  .parte-03 {
    margin-top: 20px;
  }

}